    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
     :root {
        --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 1);
        --green: #27ae60;
        --black: #192a56;
        --light-color: #666;
    }
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: rgb(2, 63, 32);
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        box-shadow: var(--box-shadow);
    }
    
    header .bar a {
        font-size: 20px;
        border-radius: 25px;
        padding: .5rem 1.5rem;
        color: white;
        text-decoration: none;
    }
    
    header .bar a.active,
    header .bar a:hover {
        color: white;
        background: var(--green);
    }